@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Mapping your new theme colors */
    
    /* Primary (brand colors) */
    --brand-100: #FF7F50; /* Primary-100 */
    --brand-200: #8f1e00; /* Primary-200 */
    --brand-300: #dd6236 ; /* Primary-300 */
    --brand-400: #8B4513; /* Accent-100 */
    --brand-500: #ffd299; /* Accent-200 */

    --accent-100: #EDEDED;
  
    /* Background colors */
    --background-light: #F3F6F9; /* bg-100 */
    --background-dark: #c4bcab; /* bg-300 */
    --background-gradient: linear-gradient(90deg, var(--brand-200), var(--brand-300));
  
    /* Text colors */
    --text-light: #000000; /* text-100 */
    --text-dark: #ffffff;  /* text-200 */
  
    /* Border colors */
    --border-light: #ede4d3; /* bg-200 */
    --border-dark: #8f1e00; /* Using Primary-300 for a darker shade */
  
    /* Hover background */
    --hover-bg-light: #ffd299; /* Accent-200 */
    --hover-bg-dark: #8B4513; /* Accent-100 */

    /* Gradient */
    --brand-gradient: linear-gradient(90deg, var(--brand-200), var(--brand-300));
  }
  
  .dark {
    --background-light: var(--background-dark);
    --text-light: var(--text-dark);
    --border-light: var(--border-dark);
    --hover-bg-light: var(--hover-bg-dark);
  }

  .btn {
    @apply px-4 py-2 rounded font-medium transition duration-300 ease-in-out;
    border: 1px solid transparent;
  }

  .btn-primary {
    @apply text-white;
    background-image: var(--brand-gradient);
    background-color: transparent; /* Remove any solid color if gradient is applied */
    background-size: 100% 100%; /* Ensure the gradient covers the button */
    background-repeat: no-repeat; /* Prevent repeating the gradient */
    border: none; /* Optional: removes any default border */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.375rem; /* Adjust border radius as needed */
  }

  .btn-primary:hover {
    background-color: var(--brand-100);
  }

  .btn-secondary {
    @apply text-white;
    background-color: var(--brand-400);
  }

  .btn-secondary:hover {
    background-color: var(--brand-500);
  }

  .btn-outline {
    @apply text-brand-200 border border-brand-200;
    background-color: transparent;
  }
  
}