@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Mapping your new theme colors */
    
    /* Primary (brand colors) */
    --brand-100: #FF7F50; /* Primary-100 */
    --brand-200: #8f1e00; /* Primary-200 */
    --brand-300: #dd6236; /* Primary-300 */
    --brand-400: #8B4513; /* Accent-100 */
    --brand-500: #ffd299; /* Accent-200 */

    --accent-100: #EDEDED;
  
    /* Background colors */
    --background-light: #F3F6F9; /* bg-100 */
    --background-gradient: linear-gradient(90deg, var(--brand-200), var(--brand-300));
  
    /* Text colors */
    --text-light: #000000; /* text-100 */
  
    /* Border colors */
    --border-light: #ede4d3; /* bg-200 */
  
    /* Hover background */
    --hover-bg-light: #ffd299; /* Accent-200 */

    /* Gradient */
    --brand-gradient: linear-gradient(90deg, var(--brand-200), var(--brand-300));
    
    /* Sidebar colors */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border-light;
  }
  
  body {
    @apply bg-background-light text-text-light;
  }
}